.main_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.main_content_list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin-top: 50px;

  & img {
    width: 160px;
    height: 195px;
    border-radius: 10px;
    border: 1px solid lightgrey;
  }
}

.hidden {
  display: none;
}
